<h1>FILMS</h1>
    <nav>
        <ul>
            <% for film in @films %>
                <li>
                    <a href="/films/<%=film.id%>"><%=film.title%></a>
                </li>
            <% end %>
        </ul>
    </nav>