<!DOCTYPE html>
    <html lang='en'>
        <head>
            <meta charset ='utf-8'>
            <title>CodeClan Cinema</title>
        </head>
        <body>
            <h1>Films</h1>
                <ul>
                    <% for film in @films %>
                        <li><%=film.title%></li>
                    <% end %>
                </ul>
        </body>
    </html>