<!DOCTYPE html>
    <html lang='en'>
        <head>
            <meta charset ='utf-8'>
            <title>CodeClan Cinema</title>
        </head>
        <body>
            <h1>Films</h1>
                <nav>
                <ul>
                    <% for film in @films %>
                        <li>
                            <a href="/films/<%=film.id%>"><%=film.title%></a>
                        </li>
                    <% end %>
                </ul>
                </nav>
        </body>
    </html>